.com1 {
    background-image: linear-gradient(to right, rgba(7, 13, 75, 1), rgba(7, 13, 75, 0.6), rgba(7, 13, 75, 0.5)), url(./img/architecture-bridge-futuristic-infrastructure-374630-min.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 50px;
}

.com1-t1 {
    font-size: 60px;
    font-weight: 500;
    margin: 20vh 0vh 0vh 20vh;
    width: 50vh;
}

.com1-t2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin: 5vh 0vh 0vh 20vh;
    width: 58vh;
}

.buttun {
    width: 24vh;
}

.arroww {
    position: absolute;
    margin-top: -5px;
    padding-left: 10px;
}

.buttun:hover .arroww {
    transition: 0.5s;
    padding-left: 20px;
    color: rgb(70, 113, 193);
}

.com2 {
    height: 130vh;
}

.com2in1 {
    position: absolute;
    margin: 10vh 0vh 0vh 0vh;
    height: 90vh;
    width: 100%;
    background-color: #ededed;
    color: white;
}

.card1 {
    margin: 15vh 0vh 0vh 10vh;
    background-color: white;
    width: 90vh;
    height: 57vh;
    float: left;
}

.card1, .card2 :hover {cursor: pointer;}

.card2 {
    margin: 15vh 0vh 0vh 5vh;
    background-color: white;
    width: 90vh;
    height: 57vh;
    float: left;
}

.card1-1 {
    background-image: linear-gradient(rgba(7, 13, 75, 0.8), rgba(7, 13, 75, 0.8)), url(./img/shutterstock_1536865364_bimbridge_web.jpg);
    height: 45vh;
    margin-top: -48px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1-2 {
    color: #2D1E73;
}

.card-t1 {
    font-size: 48px;
    font-weight: 500;
    padding: 35vh 0vh 0vh 4vh;
}

.card-t2 {
    display: inline-block;
    margin: 6vh 0vh 0vh 4vh;
    font-size: 12px;
    position: relative;
    color: #2D1E73;
    width: 11vh;
}

.card-t2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #2D1E73;
    transform-origin: bottom right;
    transition: transform 0.25s;
}

.card-t2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.card2-1 {
    background-image: linear-gradient(rgba(198, 124, 59, 0.9), rgba(198, 124, 59, 0.9)), url(./img/letsbecivil_phone.png);
    height: 45vh;
    margin-top: -48px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card2-2 {
    color: #2D1E73;
}