.part5 {
    width: 100%;
    height: 400px;
    background-color: #141446;
    color: #FFFFFF;
    font-size: 20px;
}

.footbartext {
    margin-top: 10px;
    width: 20vh;
}

.main {
    display: flex;
    text-align: left;
    height: 45vh;
}

a {
    position: relative;
    height: 30px !important;
    /* border:1px solid white ;  */
    text-decoration: none;
    color: #FFFFFF;
}

.main1 {
    margin: 30px 0px 0px 200px;
    width: 130px;
    height: auto;
}

.first {
    font-size: 15px;
    font-weight: lighter;
    font-weight: 400;
}

.main2 {
    margin: 30px 0px 0px 200px;
    width: 110px;
}

.main3 {
    margin: 30px 0px 0px 200px;
    width: 50px;
}

.sec {
    font-size: 18px;
    font-weight: 400;
}

.main4 {
    margin: 30px 0px 0px 250px;
    width: 250px;
}

.undar {
    font-size: 12px;
    display: flex;
    padding-left: 13%;
}

.undar-a {
    font-size: 12px;
    margin-left: 30px;
}

.main4-2 {
    margin-top: 10vh;
}

.icon {
    font-size: 50px !important;
}


.hed {
    color: white;
}

.hover {
    color: white;
}

.hover:hover {
    color: rgb(0, 106, 255);
    transition: 0.5s;
}